.blog_section {
    display: flex;
    flex-direction: column;
    margin-top: 950px;    
}

.blog_heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.blog_heading h1 {
    font-size: 6vh;
    font-weight: 700;
    display:flex;
    margin:0;
}

.blog_heading{
    display: flex;
    justify-content:center;
    flex-direction: column;
    width:80%;
    margin:20px auto;
}

.blog-container {
    display: flex;
    flex-direction: row;
    width:80%;
    margin:0 auto;
}

.blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.blog-container_groupB {
    flex: 1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .blog-container {
        flex-direction: column-reverse;
    }


    .blog-container_groupA {
        margin: 2rem 0;
    }

    .blog-container_groupA .article_container {
       width: 48%;
    }

    .blog-container_groupA .blog_image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-container_groupA .article_container  {
       width: 100%;
    }

    .blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}
.article_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.blog_image {
    width: 100%;
    height: 100%;
}

.blog_image img {
    width: 100%;
    height: 100%;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.article-content p {
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;
}

.article-content h3 {
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    margin-bottom: 5rem;
    cursor: pointer;
}

.article-content p:last-child {
    cursor: pointer;
}

@media only screen and (max-width:680px){
    .blog_section {
        margin-top: 750px;    
    }
}

@media screen and (max-width: 550px) {
    .article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}