.header{
    background: linear-gradient(90deg, #000308 0%, #081830 50%, #033785a2 100%);
    border:4px solid rgb(247, 119, 14);
    width:98.5%;
    margin:0 auto;
}

.header_logo{
    background:transparent;
    width:13%;
    margin-top:-10px;
    height:22vh;
}

.header_appbar{
    display: flex;
    justify-content: space-between;
    padding:10px;
    background: transparent;
    height:70px;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #0e1f3d 0%, #0b2855 50%, #013a91a2 100%);
    border-radius: 30px;
    width:fit-content;
    padding-left:80px;
    padding-right:80px;
    height:10vh;
}

.header_nav_points{
    margin:0 auto;
    margin-right: 8px;
    margin-left: 8px;
    padding:15px;
    padding-top:20px;
    position: relative;
    background: transparent;
    display: inline-block;
}
.header_nav_points:hover .header_dropdown-content {display: block;}

.header_dropbtn {
    background: linear-gradient(90deg, rgb(185, 37, 0) 0%, rgb(247, 119, 14) 50%, rgba(255, 124, 10, 0.678) 100%);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius:30px;
    margin-right: 50px;
}
  
.header_dropbtn i{
    color:#040c18;
    font-weight:900;
}

.header_sign_in_up {
    position: relative;
    display: inline-block;
    background: transparent;
}
  
.header_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top:10px;
    box-shadow: 3px 3px 7px #aefeff;
    z-index: 1;
}
  
.header_dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.header_dropdown-content a:hover {
    background-color: #ddd;
    color:#000308;
}
  
.header_sign_in_up:hover .header_dropdown-content {display: block;}

.header_header-content {
    displaY:flex;
    justify-content:space-between;
    width:85%;
    margin:0 auto;
    background: transparent;
}

.header_written_content{
    padding-top: 7%;
    width:45%;
    background: transparent;
}

.header_main_heading{
    font-size: 6.5vh;  
    background: transparent;
}

.header_middle{
    color:rgb(247, 119, 14) ;
    background: transparent;
}

.header_mainline{
    width:65%;
    margin:0;
    background:rgb(247, 119, 14) ;
    height: 3px;
    margin-top:-20px;
    border:1px solid rgb(247, 119, 14) ;
    border-radius:5px;
}

.header_sub{
    display:flex;
    flex-direction:row;
    background: transparent;
}
.header_line{
    background:rgb(247, 119, 14) ;
    height: 50px;
    width:5px;
    margin-right:10px;
    margin-top:28px;
    border:1px solid rgb(247, 119, 14) ;
    border-radius:5px;
}
.header_sub_heading span{
    border-radius:10px;
    border:none;
    font-weight: 900;
    padding-left:10px;
    padding-right:10px;
    background:rgb(247, 119, 14) ;
    color:#072227;
}

.header_sub_heading span:hover{
    cursor: pointer;
}
.header_sub_heading{
    font-size:3.1vh;
    background: transparent;
}
.header_side_img{
    width:25vh;
    margin-left:88%;
    margin-top:-60vh;
    padding-bottom: 10px;
    background: transparent;
    overflow: hidden;
	animation: zoom 6s ease-in-out infinite;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.07);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

.header_main_img{
    width:50%;
    background: transparent;
	transform: translatey(0px);
    overflow: hidden;
	animation: float 6s ease-in-out infinite;
}

@media(max-width:1050px){
    .header_main_heading{
        font-size: 6.3vh;
    }
    .header_main_img{
        width:45%;
    }
    .header_written_content{
        width:50%;
    }
    .header_nav{
        padding-left:2%;
    }
}

@media(max-width:950px){
    .header_side_img{
        margin-left:85%;
        width:20vh;
    }
    .header_main_heading{
        font-size: 6vh;
    }
    .header_line{
        height:60px;
    }
    .header_main_img{
        height:50vh;
        padding-top:10vh;
    }
    .header_nav_points{
        padding-left: 7px;
        padding-right: 7px;
    }
}
@media(max-width:920px){
    .header_line{
        height:90px;
    }
    .header_logo{
        height:17vh;
    }
}

@media(max-width:815px){
    .header_sub_heading{
        font-size:2.3vh;
    }
    .header_main_heading{
        font-size: 5.5vh;
    }
    .header_line{
        height:40px;
        margin-top:23px;
    }
    .header_main_img{
        width:45%;
        height:45vh;
    }

    .header_nav_points{
        font-size:2.2vh;
    }
    
    .header_mainline{
        margin-top:2px;
    }
}

@media(max-width:720px){
    .header_sub_heading{
        font-size:2vh;
    }
    .header_main_heading{
        font-size: 5.2vh;
    }
    .header_written_content{
        width:55%;
    }
    .header_main_img{
        width:45%;
        padding-top: 4.7vh;
    }
    .header_side_img{
        width:15vh;
    }

    .header_nav_points{
        font-size:1.8vh;
        padding-left: 4px;
        padding-right: 4px;
    }
    .header_logo{
        width:14%;
    }
}
@media(max-width:600px){
    .header_written_content{
        width:60%;
    }
    .header_main_img{
        width:40%;
        height:35vh;
    }
    .header_sub_heading{
        font-size:1.7vh;
    }
    .header_main_heading{
        font-size: 4.8vh;
    }
    .header_line{
        height:30px;
        margin-top:20px;
    }
    .header_header-content{
        width:95%;
    }
    .header_logo{
        height:13vh;
    }
}
@media(max-width:550px){
    .header_sub_heading{
        font-size:1.5vh;
    }
    .header_main_heading{
        font-size: 4.2vh;
    }
    .header_line{
        margin-top:16px;
    }
    .header_side_img{
        opacity: 0;
    }
    .header_nav{
        flex-direction: column;
        width:5%;
        height:15vh;
    }
    .header_nav_points{
        margin:4px auto;
        padding:2px;
    }
    .header_logo{
        height:10vh;
    }
}
@media(max-width:450px){
    .header_header-content{
        flex-direction:column;
    }
    .header_written_content{
        width:100%;
    }
    .header_main_img{
        margin:0 auto;
        padding:0;
        height:25vh;
    }
    .header_sub{
        margin:0;
        padding:0;
        display:block;
    }
    .header_sub_heading{
        font-size:1.2vh;
    }
    .header_main_heading{
        font-size: 3.8vh;
    }
    .header_mainline{
        margin-top:1px;
        height:1px;
    }
    .header_line{
        margin-top:0;
        height:0;
        width:0;
        border:none;
    }
}