.staticCard{
    margin:0 ;
    margin-bottom:250px;
    margin-top:300px;
}
.static_card_para{
  font-size:2.5rem;
  margin-top:80px;
  text-align:center;
  margin-bottom:-90px;
}

@media only screen and (max-width:680px){
 
.staticCard{
    margin-bottom:50px;
}
    
}


.static-card-outside{
    display: flex !important;
    flex-wrap: wrap;
    width:85%;
    padding-left:300px;
  }
  .static-card-inside{
    margin: 20px;
  }