.card-container {
  /* padding-top: 15px; */
  width: 350px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
}

.card-container:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 15px 0px;
}

.image-container img {
  overflow: hidden;
  height: 350px;
}

.card-content {
  margin: 0.2rem;
  margin-top: 0.4rem;
  text-align: center;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-button {
  display: flex;
  justify-content: center;
}

.card-button button {
  padding: 0.5rem;
  background-color: #040c18;
  border: none;
  transition: 0.2s;
  border-radius: 3px;
}

.card-button:hover {
  /* background: rgba(27, 156, 252, 0.1); */
  transform: scale(1.1);
}

a {
  text-transform: uppercase;
  color: aquamarine;
  text-decoration: none;
  font-weight: bold;
}
